NODE_ENV=development
PORT=3000

JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=7d

# مقادیر پیش‌فرض برای ادمین اولیه
ADMIN_FULLNAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

DB_STORAGE=./database/dev.sqlite
